.grid-demo-item-block {
  border: solid 1px #999999;
  background: var(--adm-color-box);

  color: #999999;
  height: 10vh;
  margin-top:2vh ;
  border-radius: 10px;
  div{
    height: 50%;
    line-height: 5vh;
    padding-left: 8vw;
  }
}
.avatar{
  height: 100%!important;
  width: 100%!important;
  padding-left: 0vw!important;

}
.avatar-container{
  border-radius: 10px;
}
.grid-demo-item-block-main {
  border: solid 1px #999999;
  background: var(--adm-color-box);
  color: #999999;
  height: 5vh;
  margin-top: 1vh;
  border-radius: 10px;
  line-height: 5vh;
  padding-left: 5vw;
}
.main-body{
  margin-top: 5vh;
}
.grid-demo-item-block-share{
  border: solid 1px #999999;
  background: var(--adm-color-box);
  color: #999999;
  height: 5vh;
  margin-top: 1vh;
  border-radius: 10px;
  line-height: 5vh;
  padding-left: 5vw;
  width: 60vw;
}