.grid-demo-item-block-pie{
  margin-top: 3vh;
  border: solid 1px #999999;
  background: var(--adm-color-box);
  color: #999999;
  height: 6vh;
  border-radius: 10px;
  .grid-demo-item-block-pie-date-left{
    text-align: center;
    background: #dedcdc;
    color: #999999;
    height: 4vh;
    border-radius: 10px;
    margin-left:0.7vw ;
    line-height: 4vh;
    margin-top: 0.7vh;
    width: 30vw
  }
  .grid-demo-item-block-pie-date-right{
    text-align: center;
    line-height: 4vh;
    background: #dedcdc;
    color: #999999;
    height: 4vh;
    border-radius: 10px;
    margin-right:1vw ;
    margin-top: 0.7vh;

    width: 30vw;
  }
}
.pie{
  height: 20vh!important;
}